<h2 mat-dialog-title>Create new article</h2>
<mat-dialog-content>
  <form [formGroup]="articleForm" class="add-article-container">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Briefly" formControlName="briefly">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="Content" formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [disabled]="!articleForm.valid" (click)="handleCreateClick()">Create</button>
</mat-dialog-actions>
