<mat-drawer-container class="articles__container">
  <mat-drawer #drawer mode="push">
    <mat-list>
      <mat-list-item>My Articles App</mat-list-item>
      <mat-list-item>
        <button mat-button (click)="openCreateArticleDialog(); drawer.toggle();">Add article</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button>Sign out</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-toolbar>
    <span (click)="drawer.toggle()">
      <mat-icon>arrow_back_ios</mat-icon>
    </span>
  </mat-toolbar>
  <mat-card>
    <mat-grid-list [cols]="4" rowHeight="2:1" gutterSize="5em">
      <mat-grid-tile *ngFor="let article of list" class="tile__item">
        <mat-grid-tile-header>
          <span>{{article.title}}</span>
          <span class="example-fill-remaining-space"></span>
          <span>
            <button mat-button (click)="openRemoveArticleDialog(article)">
              remove
            </button>
          </span>
        </mat-grid-tile-header>
        {{article.briefly}}
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</mat-drawer-container>

