<mat-card>
  <mat-grid-list [cols]="breakpoint" rowHeight="1:1" (window:resize)="onResize($event)" gutterSize="5em">
    <mat-grid-tile *ngFor="let article of list" class="tile__item">
      <mat-grid-tile-header>
        <span>{{article.title}}</span>
        <span class="example-fill-remaining-space"></span>
        <span>
            <button mat-button (click)="openRemoveArticleDialog(article)">
              remove
            </button>
          </span>
      </mat-grid-tile-header>
      {{article.briefly}}
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
